@model List<express_website.Models.BlogClass>

@{
    ViewData["Title"] = "Blog Listesi";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 class="mt-3 mb-4">📚 Blog Listesi</h2>

<a class="btn btn-success mb-3" href="/Admin/Blog/Create"> Yeni Blog Ekle</a>

<table class="table table-bordered table-striped">
    <thead class="table-dark">
        <tr>
            <th scope="col">Tarih</th>
            <th scope="col">Başlık</th>
            <th scope="col">İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            foreach (var blog in Model)
            {
                <tr>
                    <td>@blog.BlogTarih.ToString("dd MMM yyyy")</td>
                    <td>@blog.BlogBaslik</td>
                    <td>
                        
                       
                                                
                        
                        @*<form method="post"  onsubmit="return confirm('Düzenlemek istediğinizden emin misiniz?');">
                            <h2>@blog.BlogId</h2>
                            <input type="hidden" name="id" value=@blog.BlogId />
                            <input type="hidden" name="komut" value=1 />
                            
                            <button type="submit"  class="btn btn-warning btn-sm">✏️ Düzenle</button>
                        </form>*@

                        @*<form href="Edit" method="post">
                            <h2>@blog.BlogId</h2>
                            <input type="hidden" name="blogId" value=@blog.BlogId />
                            <input type="hidden" name="komut" value=1 />
                            
                            <button type="submit"  class="btn btn-warning btn-sm">✏️ Düzenle</button>
                        </form>*@

                        <a href="Blog/Edit?blogId=@blog.BlogId"><button type="submit"  class="btn btn-warning btn-sm">Düzenle</button></a>
                        
                        <form method="post"  onsubmit="return confirm('Silmek istediğinizden emin misiniz?');">
                            <input type="hidden" name="id" value=@blog.BlogId />
                            <input type="hidden" name="komut" value=0 />
                            @*<button type="submit" class="btn btn-primary">Kaydet</button>*@
                            <button type="submit"  class="btn btn-danger mt-2">Sil</button>
                        </form>

                        @*Son yazılan
                        <a href=/Admin/Blog/Edit onclick="UpdateFunction(this)" class="btn btn-warning btn-sm" data-date="@blog.BlogTarih">✏️ Düzenle</a>*@
                        
                        
                        @*<a href="/Admin/Blog/Edit" asp-action="Edit" name="id"" class="btn btn-warning btn-sm">✏️ Düzenle</a>*@
                        
                        @*<a asp-action="Delete" asp-route-id="@blog.BlogId" class="btn btn-danger btn-sm" onclick="return confirm('Bu blog silinsin mi?');">🗑️ Sil</a>*@
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="3" class="text-center text-muted">Henüz blog eklenmedi.</td>
            </tr>
        }
    </tbody>
</table>
@*Son yazılan
<script>
    function UpdateFunction(button)
    {
       var date= button.getAttribute("data-date");

       //ajax 
    }
</script>*@