@model List<express_website.Models.IletisimClass>
@{
    ViewData["Title"] = "İletişim Listesi";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}   

<h2>@ViewData["Title"]</h2>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Ad Soyad</th>
            <th>Email</th>
            <th>Konu</th>
            <th>Mesaj</th>
            
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.IletisimId</td>
            <td>@item.IletisimAdSoyad</td>
            <td>@item.IletisimMail</td>
            <td>@item.IletisimKonu</td>
            <td>@item.IletisimMesaj</td>
            <td>
                @*Sil*@
                    <form method="post"  onsubmit="return confirm('Silmek istediğinizden emin misiniz?');">
                        <input type="hidden" name="id" value=@item.IletisimId />
                        <input type="hidden" name="komut" value=1 />
                        <button type="submit"  class="btn btn-danger mt-2">🗑️ Sil</button>
                    </form>
                
            </td>
        </tr>
    }
    </tbody>