@model List<express_website.Models.KategoriClass>
@{
    ViewData["Title"] = "Kategoriler";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Kategori Listesi</h2>

@if (TempData["KategoriSilmeHata"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["KategoriSilmeHata"]
    </div>
}

<a class="btn btn-success mb-3" href="/Admin/Kategori/Create">➕ Yeni Kategori Ekle</a>



<table class="table table-bordered table-striped">
    <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Kategori Adı</th>
            <th>Kategori Metni</th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.KategoriId</td>
            <td>@item.KategoriAdi</td>
            <td>@item.KategoriMetin</td>
            <td>
                @*Düzenle*@
                <a href="Kategori/Edit?id=@item.KategoriId"><button type="submit"  class="btn btn-warning btn-sm">✏️ Düzenle</button></a>
                @*Sil*@
                <form method="post"  onsubmit="return confirm('Silmek istediğinizden emin misiniz?');">
                    <input type="hidden" name="id" value=@item.KategoriId />
                    <input type="hidden" name="komut" value=1 />
                    <button type="submit"  class="btn btn-danger mt-2">🗑️ Sil</button>
                </form>
                @*<a asp-action="Edit" asp-route-id="@item.KategoriId" class="btn btn-sm btn-warning">Düzenle</a>
                <a asp-action="Delete" asp-route-id="@item.KategoriId" class="btn btn-sm btn-danger">Sil</a>*@
            </td>
        </tr>
    }
    </tbody>
</table>